[Unit]
Description= Docker compose for %i
After=network.target docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker-compose -f /etc/docker/compose/%i/docker-compose.yml up
ExecReload=/usr/bin/docker-compose -f /etc/docker/compose/%i/docker-compose.yml up --no-recreate -d
Restart=always

[Install]
WantedBy=multi-user.target
